[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = ztluo
	email = ztluo.job@gmail.com
[core]
	excludesfile = /Users/admin/.gitignore_global
